<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.mapper.HouseMapper" >
    <select id="queryHouseCount" resultType="int">
        select count(1) from t_houseinfo
    </select>

    <select id="queryHouseInfo" resultType="com.jk.model.Houseinfo">
        SELECT hinfo.*,house.housenam,ths.houseshow,thp.dayprice,tu.username,tht.` housetype` housetypes,tbt.bedtypename,thl.leasetype leasetypes FROM


				t_houseinfo hinfo
        left JOIN  t_house house ON hinfo.hoseid=house.houseid
				LEFT join t_house_type tht ON hinfo.housetypeid=tht.` housetypeid`
				LEFT JOIN t_bed_type tbt ON hinfo.bedtypeid=tbt.bedtypeid
				LEFT JOIN t_house_leasetype thl ON thl.typeid=hinfo.leasetype


        left JOIN t_house_show ths ON house.houseid = ths.houseid


        LEFT join t_housepricerule thp ON house.houseid = thp.hourseid
        left JOIN t_user_house tuh ON tuh.houseid=house.houseid
        left join t_user tu ON tu.userid=tuh.userid
        <include refid="houseSql"></include>
        limit #{start},#{limit}
    </select>

    <sql id="houseSql">
        <where>
            <if test="houseinfo.houseadderss !=null and houseinfo.houseadderss !=''">
                and hinfo.houseadderss like '%${houseinfo.houseadderss}%'
                or ths.houseshow like '%${houseinfo.houseadderss}%'
            </if>

        </where>
    </sql>

    <select id="queryHouseInfo1" resultType="com.jk.model.Houseinfo">
        SELECT hinfo.*,house.housenam,ths.houseshow,thp.dayprice,tu.username,tht.` housetype` housetypes,tbt.bedtypename,thl.leasetype leasetypes FROM


        t_houseinfo hinfo
        left JOIN  t_house house ON hinfo.hoseid=house.houseid
        LEFT join t_house_type tht ON hinfo.housetypeid=tht.` housetypeid`
        LEFT JOIN t_bed_type tbt ON hinfo.bedtypeid=tbt.bedtypeid
        LEFT JOIN t_house_leasetype thl ON thl.typeid=hinfo.leasetype


        left JOIN t_house_show ths ON house.houseid = ths.houseid


        LEFT join t_housepricerule thp ON house.houseid = thp.hourseid
        left JOIN t_user_house tuh ON tuh.houseid=house.houseid
        left join t_user tu ON tu.userid=tuh.userid
    </select>


</mapper>