<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.mapper.UserMapper" >
    <select id="queryUserByUsernamePassword" resultType="com.jk.model.UserBean">
        select * from t_user where username=#{username} and userpwd=#{userpwd}
    </select>

    <select id="queryUserFcount" resultType="int">
        select count(1) from t_user
    </select>

    <select id="queryUserF" resultType="com.jk.model.UserBean">
        select * from t_user u
        <include refid="searchSQL"></include>
        limit #{start},#{limit}
    </select>

    <!--条件查询-->
    <sql id="searchSQL">
        <where>
            <if test="user.username != null and user.username != '' ">
                and u.username like '%${user.username}%'
            </if>
        </where>
    </sql>

    <!--查询所以用户-->
    <select id="queryUserList" resultType="com.jk.model.UserBean">
        select * from t_user <include refid="searchSQL"></include> limit #{start},#{limit}
    </select>

    <!--查询总条数-->
    <select id="queryUserCount" resultType="Long">
        select count(*) from  t_user <include refid="searchSQL"></include>
    </select>

    <!--删除-->
    <delete id="deleteUserById">
        delete from t_user where userid = #{userid}
    </delete>


    <select id="findHouseTotal" resultType="long">
    SELECT count(*) FROM
        t_houseinfo a
        LEFT JOIN t_house_leasetype b
        ON a.leasetype = b.typeid
        LEFT JOIN t_house_price c
        on a.hoseid = c.houseid
				LEFT JOIN t_user d
				ON a.userid = d.userid
				LEFT JOIN t_user_info e
				ON d.userid = e.userid
  </select>

    <select id="findFangjianById" resultType="com.jk.model.HouseInfo_xc">

      SELECT a.hoseid,a.houseadderss,a.roomnum,a.hallnum,a.bednum,b.leasetype as leasetypes,c.dayprice,d.username,e.email as emaila,a.`status`
        FROM
        t_houseinfo a
        LEFT JOIN t_house_leasetype b
        ON a.leasetype = b.typeid
        LEFT JOIN t_house_price c
        on a.hoseid = c.houseid
				LEFT JOIN t_user d
				ON a.userid = d.userid
				LEFT JOIN t_user_info e
				ON d.userid = e.userid
        order by a.createdate
        limit #{start},#{rows}
  </select>

    <update id="updateStatus">
        update t_houseinfo set status = #{num} where hoseid = #{houseid}
    </update>
</mapper>