<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--引入layui的js、css-->
    <link rel="stylesheet" type="text/css" href="../layui/css/layui.css" />
    <script src="../layui/layui.all.js"></script>
    <!--引入jquery-->
    <script src="../layui/jquery.min.js"></script>
</head>
<body>

<table id="demo" lay-filter="test"></table>

</body>

<script type="text/javascript">

    layui.use('table', function(){
        var table = layui.table;
        //第一个实例
        table.render({
            elem: '#demo'
            ,url: '../findShenHeInfo' //数据接口
            ,page: true //开启分页
            ,limits: [3,5,10]
            ,limit: 5 //每页默认显示的数量
            ,cols: [
                [ //表头
                    {type:'checkbox'},
                    {field: 'hoseid', title: '房间编号', width:'5%', align: 'center'}
                    ,{field: 'houseadderss', title: '房源地址', width:'20%', align: 'center'}
                    ,{field: 'roomnum', title: '房间个数', width:'5%', align: 'center'}
                    ,{field: 'hallnum', title: '客厅个数', width:'5%', align: 'center'}
                    ,{field: 'leasetypes', title: '出租类型', width:'10%', align: 'center'}
                    ,{field: 'bednum', title: '床位个数', width:'5%', align: 'center'}
                    ,{field: 'dayprice', title: '日租', width:'10%', align: 'center'}
                    ,{field: 'username', title: '发布人名称', width:'5%', align: 'center'}
                    ,{field: 'emaila', title: '发布人邮箱', width:'15%', align: 'center'}
                    ,{field: 'status', title: '审核状态', width:'5%', align: 'center',
                            templet:function (rows) {
                                if(rows.status == 1){
                                    return "未审核"
                                }else{
                                    return "已审核"
                                }
                            }
                    }
                    ,{field: 'act', title: '操作', width:'15%', align: 'center',
                        templet:function (value,row,index) {
                                console.log(value.emaila)
                                if(value.status==1){
                                    return "<button type='button' class='layui-btn layui-btn-sm' onclick='shenhe("+value.hoseid+",2,\""+value.emaila+"\")'>审核通过</button>";
                                    //return "<button type='button' class='layui-btn layui-btn-sm' onclick='youxiang("+value.email+")'>不过</button>";
                                }else {
                                    return "已审核";
                                }
                        }
                }
                ]
            ]
        });
    });



    layui.use(['table','layer','jquery','form','laydate'],function () {

        shenhe = function (houseid, num,email) {

            $.ajax({
                url: "../updateStatus",
                type: "post",
                data: {num: num, houseid: houseid},
                success: function (data) {

                        location.href="../sendmail?emails="+email;
                }
            })
        }
    })
</script>
</html>